.strength {
    margin-top: 4px;
    margin-bottom: 10px;
}

.strength-bar {
    height: 10px;
    background: #f5f5f5;
    border-radius: 2px;
    overflow: hidden;
}

.strength-fill {
    height: 100%;
}

.strength-0 {
    width: 0%;
}

.strength-1 {
    width: 25%;
    background: #ffb01d;
}

.strength-2 {
    width: 50%;
    background: #e77511;
}

.strength-3 {
    width: 75%;
    background: #ffd736;
}

.strength-4 {
    width: 100%;
    background: #14ff76;
}