header {
  position: relative;
  background-color: var(--btn-Background);
}

header>div {
  padding: 10px 120px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header nav {
  display: flex;
  gap: 25px;
}

header nav a {
  text-decoration: none;
}

@media (max-width: 600px) {

  button,
  a {
    padding: 10px 10px;
  }

  header nav {
    gap: 5px;
  }

  header nav a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 10px;
  }

  header>div {
    padding: 5px 10px;
  }

}