* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  width: 100%;
}

button:hover {
  background-color: #ffffff !important;
  color: black !important;
}

.card {
  width: 200px;
  max-height: 700px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.books-grid {
  width: 100%;
  max-width: 1000px;
  /* flex: 0 0 auto; */
  /* width: fit-content; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* justify-content: start; */
  gap: 10px;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  margin: 0 auto;
  justify-items: center;
  align-items: start;
}

.search {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 60px;
  justify-content: center;
}

.search input {
  flex: 1 1 auto;
  max-width: 350px;
  padding: 8px 16px;
  border: 3px solid #000000;
  border-radius: 8px;
  outline: none;
}

.search button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid black;
}

.card__cover {
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 5px;
}

.card__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
